@charset "utf-8";
*{
    margin: 0px;
    padding:0px;
}
body,html{
	/*background-color:#FFFFFF;*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	height: 100%;
        background-color:#F0F8FF;
        
}
#menu {
	overflow: hidden;
	background: #3e86d8;
        
	text-align: center;
        
        /*position:fixed;*/
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 20px 0px 20px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255,255,255,0.5);
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}
.titolo
{
    /* width:100%; */
    font-size:18px;
    padding: 20px;
}
.testo{
    /* width:100%; */   
    
}
.back{
    float: left;
}
.goHome-button{
    width: 150px; margin: 0 auto;
}
.cont
{
    height: 100%;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    
    text-align:center;
    overflow: visible;
/*  display:block
    height: auto;*/
    
}
table {
    border: 0px;
    width: 100%;
    padding: 10px;
    border-spacing: 0;
}
.table-classic tr:nth-child(odd){
    background-color: #ffffff;
}
.table-classic tr:nth-child(even) {
    background-color: #b1ceef;
}
td {
    padding: 8px;
    /* text-align: center; */
}
span.tab2{
    padding: 0 50px;
}
div.tab2{
    padding: 0 50px;
}
textarea{
    resize:none;
}
.col{
    width: 50%;
    float: left;
}
.invisible{
    padding: 0;
    background-color: transparent !important;
}
.invisible-table{
    /* background-color:#b1ceef; */
    width:auto;
    padding-top:0px;
}
.invisible-table.tr{
    background-color:#F0F8FF;
}
.back-button{
    float: left; 
    margin: 10px 20px;
}
.email-counter{
    font-style: italic; 
    color: red;
}
.full-col{
    width: 100%; 
    display: inline-block;
}
.mail-col{
    float: left; 
    margin-right: 30px; 
}
.consumi{
    min-width: 300px;
    float: left;
}
.dispositivi{
    min-width: 200px;
    float: left;
}
.contributi{
    min-width: 300px; 
    min-height: 130px;
    float: left;
}
.image14{
    width: 14px;
    height: 14px;
}
.image24{
    width: 24px;
    height: 24px;
}
.image32{
    width: 32px;
    height: 32px;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.padding6tb{
    padding-top: 6px;
    padding-bottom: 6px;
}



/*------ Fonts ------*/

.f10{
    font-size: 10px;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}

/*------ Width ------*/
.w2{
    width: 2%;
}
.w5{
    width: 5%;
}
.w8{
    width: 8%;
}
.w10{
    width: 10%;
}
.w13{
    width: 13%;
}
.w15{
    width: 15%;
}
.w17{
    width: 17%;
}
.w25{
    width: 25%;    
}
.w50{
    width: 50%;
}
.w77{
    width: 77%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}


.w50p{
    width: 50px;
}
.w100p{
    width: 100px;
}
.w150p{
    width: 150px;
}
.w200p{
    width: 200px;
}
.w250p{
    width: 250px;
}